<div class="container">
  <h1>Add New Card</h1>
  <form ngNativeValidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"  [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="form-group">
        <label for="cardNo">Card Number</label>
        <input type="text" class="form-control" id="cardNo"  [(ngModel)]="model.cardNo" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="form-group">
        <label for="limit">Limit</label>
        <input type="text" class="form-control" id="limit"  [(ngModel)]="model.limit" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div *ngIf="!validationResult.success">

      <ul>
        <li *ngFor="let message of validationResult.messages">
          <div class="alert alert-warning">
            {{message}}
          </div>
        </li>
      </ul>
    </div>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </form>

  <h1>
    Existing cards
  </h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Card Number</th>
      <th>Balance</th>
      <th>Limit</th>
    </tr>

    <tr *ngFor="let card of allCreditCards">
      <td>{{card.name}}</td>
      <td>{{card.cardNo}}</td>
      <td>{{card.balance}}</td>
      <td>{{card.limit}}</td>
    </tr>
  </table>
</div>
