<div class="container">
  <h1>Add</h1>
  <form ngNativeValidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"  [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="form-group">
        <label for="cardNo">Card Number</label>
        <input type="text" class="form-control" id="cardNo"  [(ngModel)]="model.cardNo" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="form-group">
        <label for="limit">Limit</label>
        <input type="text" class="form-control" id="limit"  [(ngModel)]="model.limit" [ngModelOptions]="{standalone: true}" required>
    </div>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </form>
</div>
